aside
{
    background-color: grey;
    float: left;
    padding-right: 10vh;
    margin-right: 1vh;
}
#menu
{
    margin-left: 1vh;
}
li
{
    list-style-type: none;
    margin-top: 10px;
}
a
{
    text-decoration: none;
    color: lightgray;

}
a:hover
 {
     color: #FFF787;
 }
#wrapper
{
    display: inline-block;
}
h2
{
    margin-top: 20px;
}